button {
    padding: 2px;
    background-color: blue;
    color: yellow;
}
button:hover {
    background-color: white;
    color: black;
    padding: 2px;
}
button:active {
    background-color: skyblue;
    color: black;
    padding: 2px;
}
#output {
    margin: none;
    background-color: wheat;
    color: saddlebrown;
    width: 200px;
    height: 75px;
}
#wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}